table th, table td{
    border: 1px solid #ccc;
    padding: 4px 15px;
    width: calc(100% / 9);
    font-weight: 700;
    min-width: 120px;
    background-color: #fcfcfc;
    box-sizing: border-box;
    font-size: 13px;
}
table td{
    font-weight: 100;
}
.box-content{
    padding: 15px;
    border: 1px solid #f00;
    transition: opacity .3s ease-in-out;
}
.box-content.toggle-box{
    opacity: 0;
}
.box-header{
    display: flex;
    justify-content: space-between;
    background-color: #e30613;
    padding: 15px 8px;
    color: #fff;
    box-sizing: border-box;   
  }
.btn-box-tool{ 
    background-color: transparent;
    border: 0;
    color: #fff;
    outline: none;
    cursor: pointer;
 }