.add-permission-employee-locker-nnanh-feature .padding-both-size-10{
    padding: 0 10px;
}

.add-permission-employee-locker-nnanh-feature .padding-both-size-4{
    padding: 0 4px;
}
.add-permission-employee-locker-nnanh-feature .box-wrap-custom{
    margin-bottom: 16px;
}