
.box-wrap-custom .box-header{
    padding-bottom: 0;
}
.manager-left{
    padding-right: 15px;
}
.manager-right{
    padding-left: 15px;
}
.manager-right .col-10.padding-parent [class ^='col']{
    padding-right: 10px;
}
.manager-right .btn-filter label{
    height: 15px;
}