.manager-user-nnanh .right-panel .padding-10{
    padding-right: 10px;
    padding-left: 10px;
}
.manager-user-nnanh .padding-bottom-20{
    padding-bottom: 20px;
}
.manager-user-nnanh .left-panel{
    padding-right: 10px;
}
.manager-user-nnanh .right-panel{
    padding-left: 10px;
}