@import './brand.css';
@import './formLogin.css';

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    cursor: pointer;
}
.login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes typing{
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes blink{
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #E30613;
    }
}
@keyframes opacityna{
    0%{
        display: none;
    }
    50%{
        display: flex;
        opacity: 0;
    }
    100%{
        display: flex;
        opacity: 1;
    }
}