@import '../Common/common.css';
.ngocanh {
    position: relative;
}

/*Container*/

.ngocanh .container {
    margin-left: 50px;
    transition: margin-left .3s ease-in-out;
}

.ngocanh.sidebar-open .container {
    margin-left: 230px;
}

/*Header*/

.ngocanh .header {
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 10;
}

.ngocanh .header .logo {
    cursor: pointer;
    transition: width .3s ease-in-out;
    width: 50px;
    height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    line-height: 50px;
    display: block;
    float: left;
    text-align: center;
}

.ngocanh .header .navbar {
    min-height: 50px;
    margin-left: 50px;
    border-left: 1px solid #ccc;
    transition: margin-left .3s ease-in-out;
}

.ngocanh .header .navbar::after {
    clear: both;
    display: table;
    content: '';
}

.ngocanh .header .navbar .navbar-custom-menu {
    float: right;
}

.ngocanh .header .navbar .user-menu {
    box-sizing: border-box;
    height: 50px;
}
.ngocanh .header .navbar .user-menu .dropdown-menu{
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 280px;
    height: 230px;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 4px;
    border-top-left-radius: 0 ;
}
.ngocanh .header .navbar .user-menu .dropdown-menu .user-dropdown-header{
    height: 175px;
    text-align: center;
}
.ngocanh .header .navbar .user-menu .dropdown-menu .user-dropdown-footer{
    display: flex;
    justify-content: space-between;

}
.ngocanh .header .navbar .user-menu .dropdown-menu .user-dropdown-footer a{
    background-color: #f00;
    color: #fff;
    padding: 8px 8px;
    border-radius: 4px;
    border: 0;
    margin: 0;
}
.ngocanh .header .navbar .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.ngocanh .header .navbar .user-menu a {
    text-decoration: none;
    font-size: 13px;
    padding: 15px;
    display: flex;
    cursor: pointer;
}
.ngocanh .header .navbar .user-menu a:hover{
    background-color: #ccc;
    color: #000;
}
.ngocanh .header .navbar .user-menu:hover .dropdown-menu{
    display: block;
}

.ngocanh .header .navbar .user-menu a span{
    line-height: 20px;
}

.ngocanh .header .logo span.logo-mini {
    cursor: pointer;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
}

.ngocanh.sidebar-open .header .logo span.logo-mini {
    display: none;
}

.ngocanh .header .logo span.logo-lg {
    display: none;
}

.ngocanh.sidebar-open .header .logo span.logo-lg {
    display: block;
}

.ngocanh.sidebar-open .header .logo {
    width: 230px;
}

.ngocanh.sidebar-open .header .navbar {
    margin-left: 230px;
}

/*Sidebar*/

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    border-right: 1px solid #ccc;
    margin-top: 50px;
    min-height: calc(100% - 50px);
    transition: width .3s ease-in-out;
}

.ngocanh.sidebar-open .sidebar {
    width: 230px;
}

.sidebar ul.user-sidebar-menu{
    padding: 0;
    margin: 0;
}
.sidebar ul.user-sidebar-menu > li{
    list-style-type: none;
    font-size: 13px;
    color: #3c8dbc;
    cursor: pointer;
}
.sidebar ul.user-sidebar-menu > li a{
    padding: 16px 8px;
    display: block;
}
.sidebar ul.user-sidebar-menu a:hover{
    background-color: #ccc;
}
.sidebar ul.user-sidebar-menu > li a i{
    color: #3c8dbc;
    padding-right: 8px;
    padding-left: 8px;
}
.sidebar ul.user-sidebar-menu > li ul{
    padding: 0;
}
.sidebar ul.user-sidebar-menu > li li{
    list-style-type: none;
    font-size: 13px;
    color: #3c8dbc;
    cursor: pointer;
}
.ngocanh .sidebar ul.user-sidebar-menu li a span{
    display: none;
}
.ngocanh.sidebar-open .sidebar ul.user-sidebar-menu li a span{
    display: inline-block;
}
/*Content*/

.ngocanh .container .content {
    min-height: calc(100vh - 130px);
    padding: 15px;
    overflow: auto;
}

.ngocanh .container .content .title {
    display: flex;
    justify-content: space-between;
}

.ngocanh .container .content .title .txt-title {
    font-size: 24px;
}

.ngocanh .container .content .title .home-title {
    align-items: center;
    display: flex;
    font-size: 12px;
}

.ngocanh .container .grid {
    /* overflow: auto; */
    padding-top: 15px;
}

.ngocanh .container .grid::after {
    content: '';
    clear: both;
    display: table;
}

.ngocanh .container .grid .list-warning {
    float: left;
    padding-right: 15px;
    background-color: #e9e9e9;
}

.ngocanh .container .grid .description {
    float: left;
    padding-left: 15px;
    background-color: #ededed;
}

@media only screen and (max-width: 600px) {
    .ngocanh .container .grid .list-warning {
        padding-right: 0;
    }
    .ngocanh .container .grid .description {
        padding-left: 0;
    }
}

/*Footer*/

.ngocanh .footer {
    padding: 15px;
    transition: margin-left .3s ease-in-out;
    border-top: 1px solid #ccc;
}
.wrap-loader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #ccc;
}

.loader {
    position: absolute;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(- 50%, -50%);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }