.manager-locker-nnanh .padding-10{
    padding-left: 6px;
    padding-right: 6px;
}
.manager-locker-nnanh .left-panel{
    padding-right: 10px;
}
.manager-locker-nnanh .right-panel{
    padding-left: 10px;
}