.manager-employee-locker-nguyen-ngoc-anh-feature .padding-both-size-4{
    padding: 0 4px;
    padding-bottom: 0 !important;
}
.pop-up-add-locker-to-group .padding-both-size-4{
    padding: 0 4px;
    }

    .pop-up-add-locker-to-group .container-wrap-component-wrap-nnanh, 
    .pop-up-add-locker-to-group .label-component-single-wrap{
        padding: 0 16px;
    }